/******************************************************************************

    Title :  
    Date  :  January 2014
    Author:  Suitmedia (http://www.suitmedia.com)

********************************************************************************

	1. Font-face
	2. Basic styles
	3. Header
	4. Page styles
	5. Footer

*******************************************************************************/

@import "partial/_normalize";
@import "partial/_variables";
@import "partial/_resets";
@import "partial/_helpers";
@import "partial/_print";

@import "mixin/_mixin";
@import "modules/_modules";
@import "plugin/_plugin";

/* 1 Font-face
------------------------------------------------------------------------------*/



/* 2 Basic styles
------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
	color: $black90;
	background-color: #FFE5D1;
}

a {
	color: $link;
	text-decoration: none;

	&:hover,
    &:focus {
		color: $link_hover;
	}
}

label, 
input, 
button, 
select, 
textarea {
    font-family: $base_font_family;
}

/* 3 Header
------------------------------------------------------------------------------*/




/* 4 Page styles
------------------------------------------------------------------------------*/

.block {
    margin-bottom: $space;
}

.clearfix{
	margin-left:auto;
	margin-right:auto;
	width:90%;
	height:1200px;
	margin-top : 2%;
	margin-bottom : 5%;
	text-align:center;
	.column1{
		width:25%;
		height:100%;
		background-color : #F4A764;	
		float:left;	
		.title{
			width:80%;
			margin-left: auto;
			margin-right: auto;
			height:20%;
			margin-top: 10%;
			background-color:#29b8e5;		
		}
		.content{
			margin-top: 10%;
			width:80%;
			margin-left: auto;
			margin-right: auto;
			height:60%;
			background-color:#29b8e5;
			height: 60%;

			p{
				font-size:1em;
				width : 90%;
				margin-top:5%;
				margin-left:auto;
				margin-right: auto;
			}
		}
	}
	.column2{
		width:70%;
		height:100%;
		float:right;
		background : #9af4af;
	}
}

/* 5 Footer
------------------------------------------------------------------------------*/